body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    background:linear-gradient(130deg,#000000,#a2a2a3);
}

.title {
    width: 100%;
    height: 60px;
    font-size: 25px;
    margin-bottom: 10vh;
}

.title h1 {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px #ffffff;
    text-align: center;
  
    letter-spacing: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background:linear-gradient(320deg,#000000 50%,#a2a2a3);
    margin: 20px auto;
    border: 4px solid rgb(172, 170, 170);
    border-radius: 25%;
    height: 300px;
    padding: 20px;
    color: #fff;
}


/*-.section {
    background-color: #34495e;
    height: 500px;
    line-height: 500px;
}

.section-2 {
    background-color: #3498db;
    height: 500px;
    line-height: 500px;
}

.section-3 {
    background-color: #e74c3c;
    height: 500px;
    line-height: 500px;
}-*/

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


/*- loader-*/


/*- loader cercle-*/

.loader-quart {
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-quart::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-radius: 50px;

    animation: spin 1s linear 0s infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}


/*- loader doouble cercle--*/

.loader-double {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    border-top-color: #fff;
    animation: spin 1s linear 0s infinite;
    -webkit-animation: spin 2s linear 0s infinite;
}

.loader-double::after {
    content: '';
    width: 25px;
    position: absolute;
    height: 25px;
    border: 5px solid transparent;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border-top-color: rgba(224, 222, 222);
    border-bottom-color: rgba(224, 222, 222);
    opacity: 0.7;
    border-radius: 25px;
    -webkit-border-radius: 25px solid transparent;
    -moz-border-radius: 25px solid transparent;
    -ms-border-radius: 25px solid transparent;
    -o-border-radius: 25px solid transparent;
    animation: spin2 1s linear infinite;
    -webkit-animation: spin2 1s linear infinite;
}

.loader-double::before {
    content: '';
    width: 14.5px;
    position: absolute;
    height: 14.5px;
    border: 3px solid transparent;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border-top-color: rgba(224, 222, 222);
    border-bottom-color: rgba(224, 222, 222);
    opacity: .5;
    border-radius: 14.5px;
    -webkit-border-radius: 14.5px;
    -moz-border-radius: 14.5px;
    -ms-border-radius: 14.5px;
    -o-border-radius: 14.5px;
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
}


/*- loader triple  cercle deffaser--*/

.loader-triple {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 4px solid transparent;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

.loader-triple::after {
    content: '';
    width: 30px;
    position: absolute;
    height: 30px;
    border: 3.5px solid transparent;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-top-color: rgba(224, 222, 222);
    opacity: 0.7;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    animation: spin 5s linear infinite;
    -webkit-animation: spin 5s linear infinite;
}

.loader-triple::before {
    content: '';
    width: 20px;
    position: absolute;
    height: 20px;
    border: 2.5px solid transparent;
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    border-top-color: rgba(224, 222, 222);
    opacity: 0.5;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    animation: spin 10s linear infinite;
    -webkit-animation: spin 10s linear infinite;
}


/*- loader - bar */

.loader-bar::before {
    content: '';
    width: 10px;
    position: absolute;
    height: 30px;
    display: block;
    left: 0;
    top: 0;
    background-color: #fff;
    animation: grow 1.5s linear infinite;
    -webkit-animation: grow 1.5s linear infinite;
}

.loader-bar::after {
    content: '';
    width: 10px;
    position: absolute;
    height: 30px;
    display: block;
    left: 15px;
    top: 0;
    background-color: #fff;
    animation: grow 1s linear -0.5s infinite;
    -webkit-animation: grow 1s linear -0.5s infinite;
}

.loader-bar span {
    content: '';
    width: 10px;
    position: absolute;
    height: 30px;
    display: block;
    left: 30px;
    top: 0;
    background-color: #fff;
    animation: grow 1.5s linear -1s infinite;
    -webkit-animation: grow 1.5s linear -1s infinite;
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scaley(1);
        -webkit-transform: scaley(1);
        -moz-transform: scaley(1);
        -ms-transform: scaley(1);
        -o-transform: scaley(1);
    }
    100% {
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        opacity: 0;
    }
}